{% extends "layout.html" %}

{% block body %}
    <form method="post" action="/register">
        <input autocomplete="off" autofocus name="name" placeholder="Name" type="text"/>
        <!-- <select name="sport">
            <option disabled selected value="">Sport</option>
            {% for sport in sports %}
                <option value="{{ sport }}">{{sport}}</option>
            {% endfor %}
        </select> -->
        {% for sport in sports %}
            <!-- <option value="{{ sport }}">{{sport}}</option> -->
            <input name="sport" type="checkbox" value="{{ sport }}" >{{ sport }}</input>
        {% endfor %}
        <button type="submit">Register</button>
    </form>
{% endblock %}
